@media screen and (max-width: 767px){
    .block-title{
        text-align: center;
    }
    .principles-list__item:not(:last-child){
        margin-bottom: 30px;
    }
}

.principles-list__item {
    width: 100%;
    max-width: 450px;
}

.principles-list__icon {
    @extend %align;
    width: 100%;
    max-width: 450px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

@media screen and (min-width:768px){
    .principles-list {
        display: flex;
        flex-wrap: wrap;
        width: 738px;
        gap: 30px;
    }

    .principles-list__item {
        width: 354px;
        max-width: 354px;
    } 

    .principles-list__icon {
        width: 354px;
        max-width: 354px;
    }

}

@media screen and (min-width:1200px){
    .principles-section {
        padding-bottom: 0px;
    } 

    .principles-list {
        width: 100%;
    }

    .principles-list__icon {
        width: 270px;
        max-width: 270px;
    }

    .principles-list__item {
        width: 270px;
        max-width: 270px;
    }

}