.partner-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.partner-list__item {
  width: 210px;
  height: 92px;
}

.partner-list__item-link {
  @extend %align;
  width: inherit;
  height: inherit;
  padding-top: 16px;
  padding-bottom: 16px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;

  transition: border var(--transition-dur-and-fun);

  &:hover,
  &:focus {
    border: solid 1px var(--accent-color);
  }
}

.partner-list__item-icon {
  fill: #afb1b8;

  transition: fill var(--transition-dur-and-fun);

  .partner-list__item-link:hover &,
  .partner-list__item-link:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .partner-list__item {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .partner-list__item {
    width: 170px;
    height: 92px;
  }
}
